<div class="container mt-4 search-panel">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h2 class="search-panel-title">¡Welcome to the WeatherApp! 🌞⛅🌤️🌥️🌦️</h2>

      <app-search
        (responseApiEvent)="searchResult($event)"
        (newSearchStateEvent)="searchStateChanged($event)"
      ></app-search>

      <div class="row">
        <hr />
      </div>

      <div
        *ngIf="results.length > 0"
        class="row w-100 justify-content-center mt-4 search-results"
      >
        <div *ngFor="let result of results" class="mt-2">
          <app-location-detail
            (newLocationInformationEvent)="itemSelected($event)"
            [locationInformation]="result"
          ></app-location-detail>
        </div>
      </div>

      <div *ngIf="results.length === 0">
        <p class="search-result-state">{{ searchState }}</p>
      </div>

      <div *ngIf="results" class="row">
        <hr />
      </div>

      <div class="row">
        <p class="search-panel-text w-100">Favorites 🌠</p>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
