.search-panel-body{
    background-color: #242424
}

.search-panel-title{
    margin: 2rem auto;
    text-align: center;
    box-shadow: 0 0 1rem rgba(0,0,0,1);
    padding: .5rem;
    border: 2px solid black;
    border-radius: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

.search-panel{
    margin: 2rem auto;
    box-shadow: 0 0 1rem rgba(0,0,0,1);
    padding: .5rem;
    border: 2px solid black;
    border-radius: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    width: 60%;
    background: #FCD462;
}

.btn{
    text-align: center;
    border: 2px solid black;
    border-radius: 2rem;
    font-weight: bold;
}

hr{
    width: 100%;
    border-top: 2px solid #242424;
}

.search-results{
    height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-result-state{
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.2rem;
    border: 2px solid #242424;
    border-radius: 2rem;
    text-align: center;
    background-color: white;
}

.d-grid{
    display: grid;
}

.btn-logout{
    background-color: rgb(225, 21, 21);
}