<div class="row">
  <div class="col-8">
    <div class="mt-4 search-panel">
      <div class="row">
        <div class="col-2">
          <button class="btn btn-logout" (click)="logout()">Logout 🔙</button>
        </div>
        <div class="col-8">
          <h2 class="search-panel-title">
            ¡Welcome to the WeatherApp! 🌞⛅🌤️🌥️🌦️
          </h2>

          <app-search
            (responseApiEvent)="searchResult($event)"
            (newSearchStateEvent)="searchStateChanged($event)"
          ></app-search>

          <div class="row">
            <hr />
          </div>

          <div
            *ngIf="results.length > 0 && locationInformation === undefined"
            class="row w-100 justify-content-center mt-4 search-results d-grid"
          >
            <div *ngFor="let result of results" class="mt-2">
              <app-location-detail
                (newLocationInformationEvent)="itemSelected($event)"
                [locationInformation]="result"
              ></app-location-detail>
            </div>
          </div>

          <div *ngIf="locationInformation">
            <app-weather-detail
              [locationInformation]="locationInformation"
              (searchAgainEvent)="searchAgain($event)"
            ></app-weather-detail>
          </div>

          <div *ngIf="results.length === 0">
            <p class="search-result-state">{{ searchState }}</p>
          </div>

          <div *ngIf="results" class="row">
            <hr />
          </div>

          <div class="row justify-content-center">
            <button
              *ngIf="!showFavorites"
              (click)="check()"
              class="btn btn-favorites"
            >
              Click here to show my favorites ⭐
            </button>
            <app-favorites
              (checkCurrentEvent)="searchFavoriteAgain($event)"
              [visible]="showFavorites"
            ></app-favorites>
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <app-notifications></app-notifications>
  </div>
</div>
